*{
    padding:0;
    margin:0;
}
.unselectable {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
body, html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.main{
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-285px;
    margin-left:-175px;
    width:350px;
    height:570px;
    /* background-color: #c255ed; */
    /* border:1px solid #999; */
    border-radius: 10px;
    transition: all 2s;
}
.content{
    height:510px;
    border:1px solid green;
    border-bottom:0;
}
.content_box{
    margin:5px;
    height:503px;
    border:1px solid red;
    border-bottom:0;
}
.house{
    position:absolute;
    top:50%;
    left:50%;
    margin-top:30px;
    margin-left:-25px;
    width:50px;
    height:110px;
    line-height: 110px;
    /* background-colobluer: #eee; */
    color:blue;
    font-size:28px;
    text-align: center;
    border:1px solid #999;
}
.block1_1{
    position:absolute;
    top:50%;
    left:50%;
    margin-top:80px;
    margin-left:-60px;
    width:11px;
    height:60px;
    border:1px solid #999;
}
.block1_2{
    position:absolute;
    top:50%;
    right:50%;
    margin-top:55px;
    margin-right:-60px;
    width:11px;
    height:60px;
    border:1px solid #999;
}
.person_road{
    position: absolute;
    top: 50%;
    /* left: 50%; */
    width: 10px;
    height: 286px;
    background-color: #fff;
    border: 1px dashed #999;
}
.road_left{
    margin-top: -222px;
    left:0;
}
.road_right{
    margin-top: -222px;
    right:0px;
}

.block2_1{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 95px;
    margin-left: -130px;
    width:90px;
    height:6px;
    background-color: #fff;
    border: 1px solid #999;
    transition: all 3s;
    transform-origin: top right;
    z-index: 110;
}
.block2_2{
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: 70px;
    margin-right: -130px;
    width:90px;
    height:6px;
    background-color: #fff;
    border: 1px solid #999;
    transition: all 3s;
    transform-origin: top left;
    z-index: 110;
}
.btn_box{
    /* position: fixed;
    bottom:10px; */
    width:100%;
    text-align: center;
    padding-top:40px;
    /* position:absolute;
    bottom:30px; */
}
.btn_box button{
    display:inline-block;
    width:102px;
    height:36px;
    line-height: 36px;
    text-align: center;
    font-size:20px;
    color:#333;
    border:1px solid #999;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
.parking .car{
    display: inline-block;
    width:36px;
    height:40px;
    margin:9px;
    color:#fff;
    background-color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 26px;
    border:1px solid #005be5;
    transition: all 3s;
}
.parking .car:first-child{
    margin-left:10px;
}
.parking .car:last-child{
    margin-right:0;
}
.road_hori{
    margin-left:5px;
    width:338px;
    height:30px;
    line-height: 22px;
    background-color: #7f7878;
}
.road_hori>.line{
    display: inline-block;
    margin-right:75px;
    width:30px;
    height:3px;
    background-color: #fff;
}
.road_hori>.line:first-child{
    margin-left:49px;
}
.road_hori>.line:last-child{
    margin-right:0px;
}
.parking_2{
    position: absolute;
    top:97px;
}
.parking_3{
    position: absolute;
    top:187px;
}
.road_1{
    position: absolute;
    top:190px;
    height:40px;
}
.road_1>.line{
    margin-right:100px;
}
.road_1>.line:first-child{
    margin-top:19px;
    margin-left:90px;
}
.road_4{
    position: absolute;
    top:450px;
    height:60px;
    line-height: 50px;
}
/* .road_4>.line{
    margin-
} */
.road_verti{
    /* margin-left:5px; */
    width:41px;
    /* height:178px; */
    line-height: 30px;
    vertical-align: middle;
    /* text-align: center; */
    background-color: #7f7878;
    z-index: 99;
}
.road_verti>.line{
    display: inline-block;
    margin-left:19px;
    margin-bottom:50px;
    width:3px;
    height:30px;
    background-color: #fff;
}
.road_verti>.line:first-child{
    margin-top:16px;
}
.road_verti_road_3{
    height:48px;
    position: absolute;
    left:60px;
    top:230px;
    height:163px;
    padding-top:66px;
    color:#fff;
    text-align: center;
}
.road_verti_road_4{
    position: absolute;
    right:60px;
    top:230px;
    height:40px;
    padding-top:190px;
    color:#fff;
    text-align: center;
}
.screen{
    position:absolute;
    top:300px;
    left:139px;
    width:50px;
    padding:0 10px;
    height:26px;
    text-align: center;
    border-radius: 5px;
    line-height: 26px;
    border:1px solid green;
    background-color: #000;
    color:red;
    font-size:14px;
}
.scroll_car{
    position: absolute;
    width:30px;
    height:40px;
    border:1px solid #999;
    background-color: #fff;
    color:#666;
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    font-size:14px;
    transition: all 3s;
}
#car1{
    display: none;
    top:370px;
    left:254px;
    z-index: 101;
}
#car2{
    display: none;
    top:330px;
    left:65px;
    z-index: 101;
}