*{
    margin:0;
    padding:0;
}
.unselectable {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
body{
    transition: all 2s;
}
#count{
    display:none;
    position: fixed;
    left:50%;
    margin-left:-50px;
    bottom:10px;
    width:100px;
    height:40px;
    border:1px solid #00387a;
    color:#00387a;
    line-height: 40px;
    text-align: center;
    font-size:30px;
    border-radius: 5px;
}
#startBtn{
    width:180px;
    height:40px;
    border:1px solid #999;
    text-align: center;
    line-height: 40px;
    font-size:20px;
    position:fixed;
    bottom:20px;
    left:50%;
    margin-left:-90px;
    cursor: pointer;
    border-radius: 5px;
}
.rocketBox{
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-250px;
    margin-left:-100px;
    /* margin:50px auto; */
    width:180px;
    height:500px;
    border:20px solid gray;
    border-top:0;
    border-bottom:0;
    
}
.location{
    /* padding:20px 0; */
    position:absolute;
    top:0px;
    left:-51px;
    width:30px;
    /* height:223px; */
    background: #00387a;
    font-size:20px;
    text-align: center;
    color:#fff;
}
.line{
    width:80px;
    height:10px;
    background-color: #fff;
    border:1px solid green;
    transition: all 3s;
}
#line1{
    position:absolute;
    top:150px;
    left:-10px;
    transform-origin: top left;
}
#line2{
    position:absolute;
    top:150px;
    right:-10px;
    transform-origin: top right;
}
#line3{
    position:absolute;
    top:300px;
    left:-10px;
    transform-origin: top left;
}
#line4{
    position:absolute;
    top:300px;
    right:-10px;
    transform-origin: top right;
}
#line5{
    position:absolute;
    top:430px;
    left:-10px;
    transform-origin: top left;
    z-index: 100;
}
#line6{
    position:absolute;
    top:430px;
    right:-10px;
    transform-origin: top right;
    z-index: 100;
}
.taoyitaBox{
    display:inline-block;
    width:100%;
    text-align: center;
    font-size:0;
    line-height: 0;
    transition: all 2s;
    transform-origin: center center;
}
.top{
    display:inline-block;
    width:0px;
    margin-top:-25px;
    border-top: 25px solid transparent;
    border-bottom: 25px solid #999;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
}
.taoyitaBox .taoyita_1{
    display:inline-block;
    width:3px;
    height:26px;
    background: #fff;
    border:1px solid #333;
    border-bottom: 0;
}
.taoyitaBox .taoyita_2{
    display:inline-block;
    width:20px;
    height:15px;
    border-radius: 10px;
    background: #fff;
    border:1px solid #333;
}
.taoyitaBox .taoyita_3{
    display:inline-block;
    width:6px;
    height:26px;
    background: #fff;
    border:1px solid #333;
    border-top: 0;
}
.part_1{
    margin-top:-5px;
    width:100%;
    text-align: center;
}
.zhengliuzhaoBox{
    display:block;
    margin-top:-5px;
    /* border-top:3px solid blue; */
    overflow: visible;
}
.zhengliuzhao_1{
    display:inline-block;
    width:25px;
    height:80px;
    border:1px solid #333;
    border-right: 0;
    border-top:3px solid #00387a;
    border-bottom:3px solid #00387a;
    transition: all 2s;
    background-color: #fff;
}
.zhengliuzhao_2{
    display:inline-block;
    width:25px;
    height:80px;
    border:1px solid #333;
    border-left: 0;
    border-top:3px solid #00387a;
    border-bottom:3px solid #00387a;
    transition: all 2s;
    background-color: #fff;
}
.feichuanBox{
    /* display:none; */
    transition: all 2s;
}
.feichuan_1{
    display:inline-block;
    margin-bottom:-17px;
    width:50px;
    height:35px;
    border:1px solid #333;
    border-radius: 10px;
    background-color: #fff;
}
.feichuan_2{
    display:inline-block;
    margin-bottom:-5px;
    width:10px;
    height:10px;
    border:1px solid #333;
    border-radius: 2px;
    border-top:0;
    border-bottom:0;
    background-color: #fff;
}
.feichuan_3{
    display:inline-block;
    width:40px;
    height:30px;
    border:1px solid #333;
    border-radius: 10px;
    background-color: #fff;
}
.rocketLayer{
    display:inline-block;
    width:50px;
    height:5px;
    background: #00387a;
}
.part_2{
    margin-top:-5px;
    text-align: center;
    transition: all 2s;
}
.second_1{
    display: inline-block;
    width:50px;
    height:44px;
    background-color: #fff;
    border:1px solid #333;
    border-bottom:3px solid #00387a;
}
.second_2{
    display: inline-block;
    width:50px;
    height:88px;
    background-color: #fff;
    border:1px solid #333;
    border-bottom:3px solid #00387a;
}
.part_3{
    position:relative;
    width:100%;
    text-align: center;
}
.block_1{
    display:inline-block;
    width:50px;
    height:139px;
    border:1px solid #333;
    transition: all 2s;
}
.block_2{
    display:inline-block;
    width:30px;
    height:5px;
    background-color: #000;
    transition: all 2s;
}
.block_3{
    position:absolute;
    bottom:15px;
    left:36px;
    padding-top:10px;
    width:15px;
    height:100px;
    border:1px solid #333;
    border-top:3px solid #00387a;
    border-bottom:3px solid #00387a;
    font-size:12px;
    transition: all 3s;
}
#zhutui_line1{
    position: absolute;
    top:80px;
    left:52px;
    width:12px;
    height:1px;
    background-color: #333;
}
#zhutui_line2{
    position: absolute;
    top:80px;
    right:52px;
    width:12px;
    height:1px;
    background-color: #333;
}
.block_4{
    position:absolute;
    bottom:15px;
    right:36px;
    padding-top:10px;
    width:15px;
    height:100px;
    border:1px solid #333;
    border-top:3px solid #00387a;
    border-bottom:3px solid #00387a;
    font-size:12px;
    transition: all 3s;
}
#fire1{
    display:none;
    /* display:inline-block; */
    width:15px;
    position:absolute;
    bottom:4px;
    left:36px;
    margin-top:-19px;
    transform: rotate(180deg);
}
#fire2{
    display:none;
    /* display:inline-block; */
    width:15px;
    position:absolute;
    bottom:4px;
    right:36px;
    margin-top:-19px;
    transform: rotate(180deg);
}
.bottom_1{
    display:inline-block;
    width:80px;
    height:5px;
    background-color: green;
}
.bottom_2{
    display:inline-block;
    width:100px;
    height:5px;
    background-color: yellow;
}
.bottom_3{
    display:inline-block;
    width:110px;
    height:5px;
    background-color: green;
}
.part_4{
    position:relative;
    width:100%;
    text-align: center;
}
.part_5{
    display:none;
    position:relative;
    width:100%;
    text-align: center;
}
.fire{
    display:inline-block;
    margin-top:-19px;
    width: 50px;
    transform: rotate(180deg);
}
#process{
    width:100%;
    position:absolute;
    bottom:10px;
    /* left:10px; */
    font-size:14px;
    color:#000;
    text-align: center;
}
.part_6{
    display:none;
    transition: all 1s;
}
.part_7{
    display:none;
    transition: all 1s;
}
#red{
    position:absolute;
    right:75px;
    top:142px;
    display:inline-block;
    width:30px;
    height:15px;
    background-color: red;
}
#weixing{
    display:none;
    /* position:fixed; */
    /* margin-left:40px; */
    /* top:150px; */
    font-size:100px;
    transition: all 2s;
}
/* 轨道 */
.solarsys{
    display:none;
    width: 400px;
    height: 400px;
    margin-top:80px;
    margin-left:-100px;
    background-color: #000000;
    padding: 0;
    transform: scale(.62);
  }
  
  /*地球*/
  .sun {
    left:357px;
    top:357px;
    height: 90px;
    width: 90px;
    text-align: center;
    color:#fff;
    line-height: 90px;
    font-size:30px;
    background-color: rgb(115,114,174);
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgb(115,114,174), -5px -5px 10px rgb(115,114,174), 5px -5px 10px rgb(115,114,174), -5px 5px 10px rgb(115,114,174);
    position: absolute;
    margin: 0;
  }
  
  #earth{
    display:none;
    position:fixed;
    bottom:-220px;
    right:220px;
    height: 400px;
    width: 400px;
    text-align: center;
    color:#fff;
    line-height: 280px;
    font-size:30px;
    background-color: blue;
    border-radius: 50%;
    box-shadow: 5px 5px 10px #fff, -5px -5px 10px #00BFFF, 5px -5px 10px #fff, -5px 5px 10px #00BFFF;
    /* position: absolute; */
    margin: 0;
    transition: all 5s;
  }
  /*卫星*/
  .earth {
    left:266.5px;
    top:391px;
    height: 18px;
    width: 18px;
    /* background-color: rgb(115,114,174); */
    /* border-radius: 50%; */
    position: absolute;
    transform-origin: 134px 9px;
    animation: rotate 23.25s infinite linear;
  }
  
  /*卫星轨道*/
  .earthOrbit {
    left:275px;
    top:275px;
    height: 250px;
    width: 250px;
    background-color: transparent;
    border-radius: 50%;
    border-style: dashed;
    border-color: gray;
    position: absolute;
    border-width: 1px;
    /*margin: 100px;*/
    /*transform-origin: -75px -75px;*/
    /*animation: rotate 4s infinite linear;*/
    margin: 0px;
    padding: 0px;
  }
  
  /*空间站*/
  .jupiter {
    left:134px;
    top:379px;
    height: 42px;
    width: 42px;
    text-align: center;
    color:#fff;
    line-height: 42px;
    font-size:20px;
    background-color: rgb(156,164,143);
    border-radius: 50%;
    position: absolute;
    transform-origin: 266px 21px;
    animation: rotate 274.04s infinite linear;
  }
  
  /*空间站轨道*/
  .jupiterOrbit {
    left:155px;
    top:155px;
    height: 490px;
    width: 490px;
    background-color: transparent;
    border-radius: 50%;
    border-style: dashed;
    border-color: gray;
    position: absolute;
    border-width: 1px;
    /*margin: 100px;*/
    /*transform-origin: -75px -75px;*/
    /*animation: rotate 4s infinite linear;*/
    margin: 0px;
    padding: 0px;
  }
  
  /*土星*/
  .saturn {
    left:92px;
    top:387px;
    height: 26px;
    width: 26px;
    background-color: rgb(215,171,68);
    border-radius: 50%;
    position: absolute;
    transform-origin: 308px 13px;
    animation: rotate 183.92s infinite linear;
  }
  
  /*土星轨道*/
  .saturnOrbit {
    left:105px;
    top:105px;
    height: 590px;
    width: 590px;
    background-color: transparent;
    border-radius: 50%;
    border-style: dashed;
    border-color: gray;
    position: absolute;
    border-width: 1px;
    /*margin: 100px;*/
    /*transform-origin: -75px -75px;*/
    /*animation: rotate 4s infinite linear;*/
    margin: 0px;
    padding: 0px;
  }
  
  .mars{
  left:222.5px;
    top:392.5px;
    height: 50px;
    width: 50px;
    /* background-color: rgb(140,119,63); */
    /* background-image: url(./kongjianzhan.png) 100%  100%; */
    /* background-size: cover; */
    /* border-radius: 50%; */
    position: absolute;
    transform-origin: 177.5px 7.5px;
    animation: rotate 60.75s infinite linear;
  }
  .mars img{
      width:100%;
      height:100%;
  }
  
  /*火星轨道*/
  .marsOrbit {
    left:245px;
    top:245px;
    height: 310px;
    width: 310px;
    background-color: transparent;
    border-radius: 50%;
    border-style: dashed;
    border-color: gray;
    position: absolute;
    border-width: 1px;
    /*margin: 100px;*/
    /*transform-origin: -75px -75px;*/
    /*animation: rotate 4s infinite linear;*/
    margin: 0px;
    padding: 0px;
  }
  
  /*木星*/
  @keyframes rotate {
    100% {
      transform: rotate(-360deg);
    }
  }